@{
    ViewBag.Title = "Reset password confirmation";
}

<div id="login-page" class="row">
    <div class="col s6 offset-s3 z-depth-4 card-panel">
            <h4>@ViewBag.Title.</h4>
        <div class="col s10 offset-s1">
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>