@model DentistSpace.Web.Models.Home.BannerViewModel

<div class="row" style="height:125px; overflow:hidden; text-align:center;">
    <a href="@Model.CompanyUrl"><img src="@Model.ImageUrl" style="width:100%;" /></a>
</div>

