@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div>
    <img src="https://prod-university-library.s3.amazonaws.com/uploads/pattern/image/1616/3489517584a32335daddee.png"/>
    </div>

